.contact {
  background: $blueLight;
  padding: 64px 16px 88px 16px;
  &__title {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: $textDark;
  }
  &__paragraph {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    font-style: normal;
    color: $textDeafult;
    text-align: center;
  }
  &__media { /* mail bottom centre */
    text-align: center;
  }
}
