.hello {
  padding: 64px 16px 88px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    max-width: 768px;
  }
  @media (min-width: $desktop) {
    padding: 80px 16px 176px;
    max-width: 100%;
  }
  &__bubble {
    position: absolute;
    left: calc(50% + 100px);
    top: -8%;
  }
  &__blue {
    color: $blue;
  }
  &__contact {
    border-radius: 64px;
    background: $link;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    padding: 4px 24px;
    text-decoration: none;
  }
  &__description {
    text-align: center;
    margin-top: 24px;
    @media (min-width: $desktop) {
      max-width: 786px;
      margin: 0 auto;
      position: relative;
      &::before,
      &::after {
        width: 83.23px;
        height: 254.88px;
        content: "";
        display: block;
        position: absolute;
        top: 0;
      }
      &::before {
        background: url("../assets/img/before-left.svg");
        right: 100%;
      }
      &::after {
        background: url("../assets/img/after-right.svg");
        left: 100%;
      }
    }
  }
  &__hand {
    display: none;
    @media (min-width: $desktop) {
      display: block;
      background: $blue;
      border-radius: 16px;
      padding: 16px 19px;
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      position: relative;
      &:after {
        content: "";
        display: block;
        width: 17.42px;
        height: 22.66px;
        background: url("../assets/img/hand.svg");
        position: absolute;
        top: 99%;
        left: 32px;
      }
    }
  }
  &__image {
    box-sizing: content-box; /* dzięki temu mogę dodać border 16px #f6f9fd; zachowując wielkość elementu */
    border-radius: 50%;
    border: 16px solid #f6f9fd;
    height: 96px;
    width: 96px;

    @media (min-width: $desktop) {
      width: 178px;
      height: 178px;
      border: 24px solid #f6f9fd;
    }
  }
  &__image-container {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }
  &__link {
    color: $link;
    text-decoration: none;
    font-weight: bold;
  }
  &__paragraph {
    color: $textDeafult;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    margin: 16px 0 52px;
    text-align: center;
    @media (min-width: $desktop) {
      font-size: 20px;
      line-height: 40px;
      margin: 24px 0 68px;

    }
  }
  &__title {
    color: $textDark;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto ;
    @media (min-width: $desktop) {
      font-size: 32px;
      line-height: 40px;
      margin: 48px 0 auto;
    }
  }
}
