$textDark: #234361;
$blue: #1070CA;
$textDeafult: #425A70;
$link: #4DA8FF;
$textLink: #14B5D0;
$blueLight: #DBEAF7;
$consoleGrey5: #A3A3A3;
$consoleGrey4: #808082;
$consoleGrey3: #464A4D;
$consoleGrey2: #212528;
$consoleGrey1: #1E1E1E;

$tablet: 768px;
$desktop: 960px;